/* Zooniverse Colours */
$teal: #00979d;
$dark-teal: #005d69;
$light-teal: #addde0;
$zooniverse-background: #2D2D2D;
$dark-grey: #5c5c5c;
$mid-grey: #a6a7a9;
$light-grey: #eff2f5;
$gold: #F0B200;
$tomato: #e45950;
$green: #078f52;
$light-gold: #f6d885;
$blue: #43bbfd;

$primary-colour: $teal;
$primary-contrast: $light-grey;  
$action-colour: $blue;
$action-contrast: $dark-grey;
$sub-action-colour: $dark-grey;
$sub-action-contrast: $light-grey;
$danger-colour: $tomato;
$danger-contrast: $light-grey;
$fore-colour: $dark-grey;
$mid-fore-colour: #888;
$mid-colour: #ccc;
$mid-back-colour: #efefef;
$back-colour: #fff;

:root {
  background: $back-colour;
  color: $fore-colour;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  line-height: 22px;
}

html, body {
  margin: 0;
  padding: 0;
}

#app {
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  > header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background: $primary-colour;
    color: $back-colour;
    flex: 0 0 auto;
    
    
    img.zooniverse.logo {
      display: inline-block;
      flex: 0 0 auto;
      height: 2em;
      margin: auto 1em;
    }
    
    h1 {
      flex: 1 1 auto;
      padding: 0.5rem 1rem;
      margin: 0;
    }
    
    nav {
      flex: 1 1 100%;
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      align-items: center;
      
      a {
        color: $primary-contrast;
        padding: 0.5rem 1rem;
        
        &:hover, &:focus {
          background: $action-colour;
        }
      }
      
      label {
        padding: 0.5rem 1rem;
        cursor: pointer;
        
        &.active {
          background: $danger-colour;
        }
      }
      
      .filler {
        flex: 1 1 auto;
      }
      
      .user {
        flex: 0 0 auto;
        padding: 0.5em 1em;
        
        span {
          margin-right: 1em;
        }
      }
    }
  }
  
  > main {
    flex: 1 1 auto;
    padding: 0.5rem;
  }
  
  > footer {
    background: $primary-colour;
    color: $back-colour;
    padding: 0.5em 1em;
    flex: 0 0 auto;
  }
}

a {
  color: $action-colour;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  line-height: normal;
}
