$primary-colour: #488;
$primary-contrast: #eee;
$action-colour: #48c;
$action-contrast: #fff;
$danger-colour: #c44;
$danger-contrast: #fff;
$fore-colour: #444;
$mid-colour: #ccc;
$back-colour: #fff;

:root {
  background: $back-colour;
  color: $fore-colour;
  font-family: sans-serif;
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
}

#app {
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  > header {
    background: $primary-colour;
    color: $back-colour;
    flex: 0 0 auto;
    
    h1, h2 {
      padding: 0.5rem 1rem;
      margin: 0;
    }
    
    nav {
      display: flex;
      flex-direction: row;
      
      a {
        color: $primary-contrast;
        padding: 0.5rem 1rem;
      }
      
      label {
        padding: 0.5rem 1rem;
        cursor: pointer;
      }
    }
  }
  
  > main {
    flex: 1 1 auto;
    padding: 0.5rem;
  }
  
  > footer {
    background: $primary-colour;
    color: $back-colour;
    flex: 0 0 auto;
  }
}

a {
  color: $action-colour;
}
