.form {
  
  background: $back-colour;
  box-shadow: 0.125rem 0.125rem 0.25rem $mid-colour;
  padding: 0.25rem 1rem;
  margin: 0.5rem 0;
  
  > h2 {
    color: $primary-colour;
  }
  
  fieldset {
    margin: 0.5em;
    
    span {
      font-size: 0.8em;
      line-height: 1.2em;
    }
    
    var .material-icons {
      vertical-align: bottom;
    }
  }
  
  .panel {
    background: $mid-colour;
    margin: 0.5em;
    padding: 0.5em 1em;
  }
  
  .greyed-out {
    color: $mid-colour;
    background: $mid-back-colour;
  }
}

.button {
  background: $primary-colour;
  color: $primary-contrast;
  cursor: pointer;
  display: inline-block;
}

.action.button {
  background: $action-colour;
  color: $action-contrast;
}

.danger.button {
  background: $danger-colour;
  color: $danger-contrast;
}
