.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-item {
  flex: 0 0 auto;
}

.flex-item.grow {
  flex: 1 1 auto;
}

.image-list {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  
  .list-item {
    flex: 0 0 auto;
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;
    padding: 0;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
