apiVersion: apps/v1
kind: Deployment
metadata:
  name: subject-assistant-proxy
  labels:
    app: subject-assistant-proxy
spec:
  selector:
    matchLabels:
      app: subject-assistant-proxy
  template:
    metadata:
      labels:
        app: subject-assistant-proxy
    spec:
      containers:
        - name: subject-assistant-proxy-app
          image: zooniverse/zoo-ml-subject-assistant:__IMAGE_TAG__
          resources:
            requests:
              memory: "100Mi"
              cpu: "10m"
            limits:
              memory: "100Mi"
              cpu: "500m"
          ports:
            - containerPort: 80
          env:
            - name: ORIGINS
              valueFrom:
                secretKeyRef:
                  name: subject-assistant-proxy-conf
                  key: ORIGINS
            - name: TARGETS
              valueFrom:
                secretKeyRef:
                  name: subject-assistant-proxy-conf
                  key: TARGETS
            - name: URL_FOR_MSML
              valueFrom:
                secretKeyRef:
                  name: subject-assistant-proxy-conf
                  key: URL_FOR_MSML
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: subject-assistant-proxy
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: subject-assistant-proxy
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
