apiVersion: apps/v1
kind: Deployment
metadata:
  name: subject-assistant-proxy
  labels:
    app: subject-assistant-proxy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: subject-assistant-proxy
  template:
    metadata:
      labels:
        app: subject-assistant-proxy
    spec:
      containers:
        - name: subject-assistant-proxy-app
          image: zooniverse/zoo-ml-subject-assistant:__IMAGE_TAG__
          resources:
            requests:
              memory: "50Mi"
              cpu: "10m"
            limits:
              memory: "50Mi"
              cpu: "500m"
          ports:
            - containerPort: 80
          env:
            - name: ORIGINS
              valueFrom:
                secretKeyRef:
                  name: subject-assistant-proxy-conf
                  key: ORIGINS
            - name: TARGETS
              valueFrom:
                secretKeyRef:
                  name: subject-assistant-proxy-conf
                  key: TARGETS
            - name: URL_FOR_MSML
              valueFrom:
                secretKeyRef:
                  name: subject-assistant-proxy-conf
                  key: URL_FOR_MSML
